.profile-wrapper{
    display: flex;
    justify-content:left;
    padding: 20px;
    min-height: 88vh;
}

.profile-detail{
    margin: 0 30px;
}

.profile-img{
    width: 100px;
}
.favorite-games{
    border-left: 1px solid black;
    width: 45%;
}

.fav-list{
    list-style-type: none;
}

.fav-link{
    text-decoration: none;
}

.fav-thumbnail{
    width: 75px;
}

.profile-table td{
    padding: 0 10px;
    text-align: left;
}

.buttons{
    margin: 5px;
    border: 1px solid rgba(151, 148, 148, 0.466);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 5px;
    box-shadow: 2px 2px 3px rgb(153, 153, 153);
    transition: 0.5s;
}

.red{
    background: rgb(185, 38, 38);
}

.green{
    background: rgb(25, 95, 3);
}

.red:hover{
    background-color: rgb(100, 0, 0);
}

.green:hover{
    background-color: rgb(62, 197, 49);
}

.blue{
    background: rgb(95, 95, 95);
    width: 100px;
}

.blue:hover{
    background-color: rgb(70, 70, 70);
}