.lists-container{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.item-container{
    width: 21%;
    margin: 2%;
    height: 35;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.item-container img{
    width: 95%;
}

.item-container h3{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-container p{
    text-align: left;
    padding: 10px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin-top: 20%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-link{
    text-decoration: none;
    color: black;
}

.game-link:hover{
    color: black;
}

.sort-form{
    margin-bottom: 10px;
}

.sort-form form{
    position: relative;
    top: 20px;
}